/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";


/* Importing Bootstrap SCSS file. */
@import "bootstrap/scss/bootstrap";

html,
body {
  height: 100%;
  background-color: #eee;
}


.blue-bg {
  color: #fff;
  background: #57889c;
}
