<header class="header dark-bg">
  <div class="toggle-nav">
    <div
      class="icon-reorder tooltips"
      data-original-title="Toggle Navigation"
      data-placement="bottom"
    >
      <img src="../../../../assets/img/White-Motor-Logo.png" height="40" />
    </div>
  </div>
  <!--logo start-->
  <a routerLink="/" class="logo" style="text-decoration: none;"><strong>D&D Motor Systems</strong></a>
  <!--logo end-->

  <div class="top-nav notification-row">
    <!-- notificatoin dropdown start-->
    <ul class="nav pull-right top-menu">
      <!-- task notificatoin start -->

      <!-- task notificatoin end -->
      <!-- inbox notificatoin start-->

      <!-- inbox notificatoin end -->
      <!-- alert notification start-->
      <!-- alert notification end-->
      <!-- user login dropdown start-->
      <li class="dropdown">
        <a data-toggle="dropdown" class="" style="text-decoration: none;" href="#">
          <!-- <span class="profile-ava">
            <img alt="" src="img/avatar1_small.jpg" />
          </span> -->
          <span class="">User</span>/
          <span class="small text-secondary" (click)="logoutClick()">Logout</span>

        </a>
        <!-- <b class="caret"></b> -->
      </li>
      <!-- user login dropdown end -->
    </ul>
    <!-- notificatoin dropdown end-->
  </div>
</header>
