.login{

    // background: url('../../../../assets/img/art-big-data-blur-373543.jpg') no-repeat center center fixed;
  
    -webkit-background-size: cover;
  
    -moz-background-size: cover;
  
    -o-background-size: cover;
  
    background-size: cover;
  
  }